[class="main css-k1vhr4 egzxvld5"]{
    background-color: #00172B;
    color: #fbfcfd
    /* background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */
}
[class="css-1avcm0n e8zbici2"]{
    background-color: #00172B;
    color: #f7f8fa
    /* background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */
}
[class="css-6qob1r e1fqkh3o3"]{
    background-color: #0083B8;
    color: #fcfdfe
}
